<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=0.1">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Movies Django</title>
    </head>
    <body>
        <div class="">Movies</div>
        {% for movie in movies %}
        <p>{{ movie.title }}</p>
        <img src="{{ movie.posterurl }}" width=200 height=300>
        {% endfor %}
    </body>
</html>